{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <p class="margin-bottom">
                <a class="btn" href="{{ path('feed', { 'id': entity.category.id }) }}">
                    Back
                </a>
            </p>
        </div>
    </div>

    <h2>Feed creation</h2>

    <form action="{{ path('feed_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{% endblock %}
