<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand">MONKEE</span>
            <ul class="nav">
                <li><a href="{{ path('topic') }}">Topics</a></li>
                <li><a href="{{ path('category') }}">Categories</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="{{ path('fetch') }}">Fetch</a></li>
                <li><a href="{{ path('log') }}">Log</a></li>
            </ul>
        </div>
    </div>
</div>
