<div id="navigation">
    <ul>
        <li><a href="{{ path('topic') }}">Topics</a></li>
        <li><a href="{{ path('category') }}">Categories</a></li>
        <li><a href="{{ path('log') }}">Log</a></li>
    </ul>
</div>
