<h1>Query creation</h1>

<form action="{{ path('query_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('query', { 'id': entity.topic.id }) }}">
            Back to the list
        </a>
    </li>
</ul>
